<div class="changeThePassword">
  <div id="changePassword" cc-validators="passWordModal.ccValidators" name="changepassword">
    <ul class="passwordInfo">
      <li>
        <label class="tit">原密码：</label>
        <input type="password" name="oldPassword" ng-model-options="{updateOn: 'blur'}" onpaste="return false;" required required-msg='密码不能为空'cc-validator="required" ng-model="passWordModal.oldPassword" class="borderHighlight" />
      </li>
      <li>
        <label class="tit">新密码：</label>
        <input id="password" type="password" ng-model-options="{updateOn: 'blur'}" onpaste="return false;" name="password" required required-msg='请输入登录密码' cc-validator="required, checkpasswd" ng-model="passWordModal.password" class="borderHighlight" />
      </li>
      <li>
        <label class="tit">新密码确认：</label>
        <input equalTo='#password' type="password"  ng-model-options="{updateOn: 'blur'}" onpaste="return false;" name="newPassword" required required-msg='请输入确认密码' cc-validator="equalTo" ng-model="passWordModal.newPassword" class="borderHighlight" />
      </li>
    </ul>
  </div>
</div>