<section ng-cloak>
	<div class="portal-header clearfix">
		
		<nav class="menu-area">
			<ul class="nav">
					<span>
						<a
							id="sceneMarketing"
							href="javascript:void(0)"
							ng-click="$menuCtrl.routerChangeStart($event)"
							>Scene Marketing</a
						>
					</span>
					<span style="margin-left: 50px;">
						<a id="cusInsight" href="javascript:void(0)" ng-click="$menuCtrl.routerChangeStart($event)">customer Insight</a>
					</span>
			</ul>			
		</nav>
	
	</div>
</section>

